@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Стартовий шаблон */

*{     /*Внутрішні зовнішні відступи*/
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{  /*Міняє підрахунок ширини блока так щоб нам було краще верстати*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}/*Забирає лінії обводки в деяких браузерах*/
a:focus,a:active{outline: none;}

nav,footer,head,aside{display: block;}/*Робить ці теги блочними*/

html,body{/*Вирівнює поведінку парвметрів, шрифтів і елементів для різних браузерів*/
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}/*Для наслідування шрифтів*/

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body {
    background-color: #E5E5E5;;
}

.content {
    width: 1440px;
    margin: auto;
    
}

.header {
    width: 100%;
    background: #ED4C5C;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-content {
    max-width: 430px;
    margin-right: 49px;
    height: 264px;
}

.text1 {
    font-weight: 600;
    font-family: 'Lato';
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 48px;
}

.text2 {
    font-family: Lato;
    font-size: 14px;
    line-height: 135%;
    text-align: justify;
    padding-bottom: 45px;
}

.icon img {
    padding-right: 21px;
}

.slider {
    padding: 90px 49px;
}

.content2 {
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.left {
    max-width: 430px;
}