/* Стартовий шаблон */

*{     /*Внутрішні зовнішні відступи*/
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before,*::after{  /*Міняє підрахунок ширини блока так щоб нам було краще верстати*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}/*Забирає лінії обводки в деяких браузерах*/
a:focus,a:active{outline: none;}

nav,footer,head,aside{display: block;}/*Робить ці теги блочними*/

html,body{/*Вирівнює поведінку парвметрів, шрифтів і елементів для різних браузерів*/
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}/*Для наслідування шрифтів*/

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}



